Client/Logic/Connected Services/Proxy/ServiceImplementation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceImplementation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDataService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IChatService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_AddImages_InputMessage">
    <wsdl:part name="parameters" element="tns:AddImages" />
  </wsdl:message>
  <wsdl:message name="IDataService_AddImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_AddCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCredentials" />
  </wsdl:message>
  <wsdl:message name="IDataService_AddCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_IsUser_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUser" />
  </wsdl:message>
  <wsdl:message name="IDataService_IsUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_SearchUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchUser" />
  </wsdl:message>
  <wsdl:message name="IDataService_SearchUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_SendMail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMail" />
  </wsdl:message>
  <wsdl:message name="IDataService_SendMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailResponse" />
  </wsdl:message>
  <wsdl:message name="IChatService_Join_InputMessage">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="IChatService_Join_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinResponse" />
  </wsdl:message>
  <wsdl:message name="IChatService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IChatService_GetUsersChat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersChat" />
  </wsdl:message>
  <wsdl:message name="IChatService_GetUsersChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersChatResponse" />
  </wsdl:message>
  <wsdl:message name="IChatService_NewRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:NewRoom" />
  </wsdl:message>
  <wsdl:message name="IChatService_NewRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IChatService_RecieveMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecieveMessage" />
  </wsdl:message>
  <wsdl:message name="IChatService_GetUsers_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="AddImages">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/AddImages" message="tns:IDataService_AddImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/AddImagesResponse" message="tns:IDataService_AddImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCredentials">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/AddCredentials" message="tns:IDataService_AddCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/AddCredentialsResponse" message="tns:IDataService_AddCredentials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/IsUser" message="tns:IDataService_IsUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/IsUserResponse" message="tns:IDataService_IsUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/SearchUser" message="tns:IDataService_SearchUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/SearchUserResponse" message="tns:IDataService_SearchUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/SendMail" message="tns:IDataService_SendMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/SendMailResponse" message="tns:IDataService_SendMail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IChatService">
    <wsdl:operation name="Join">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatService/Join" message="tns:IChatService_Join_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChatService/JoinResponse" message="tns:IChatService_Join_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatService/SendMessage" message="tns:IChatService_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatService/GetUsersChat" message="tns:IChatService_GetUsersChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChatService/GetUsersChatResponse" message="tns:IChatService_GetUsersChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatService/NewRoom" message="tns:IChatService_NewRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChatService/NewRoomResponse" message="tns:IChatService_NewRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecieveMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IChatService/RecieveMessage" message="tns:IChatService_RecieveMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:output wsaw:Action="http://tempuri.org/IChatService/GetUsers" message="tns:IChatService_GetUsers_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDataService" type="tns:IDataService">
    <wsp:PolicyReference URI="#NetTcpBinding_IDataService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddImages">
      <soap12:operation soapAction="http://tempuri.org/IDataService/AddImages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCredentials">
      <soap12:operation soapAction="http://tempuri.org/IDataService/AddCredentials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUser">
      <soap12:operation soapAction="http://tempuri.org/IDataService/IsUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUser">
      <soap12:operation soapAction="http://tempuri.org/IDataService/SearchUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <soap12:operation soapAction="http://tempuri.org/IDataService/SendMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IChatService" type="tns:IChatService">
    <wsp:PolicyReference URI="#NetTcpBinding_IChatService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Join">
      <soap12:operation soapAction="http://tempuri.org/IChatService/Join" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IChatService/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetUsersChat">
      <soap12:operation soapAction="http://tempuri.org/IChatService/GetUsersChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewRoom">
      <soap12:operation soapAction="http://tempuri.org/IChatService/NewRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecieveMessage">
      <soap12:operation soapAction="http://tempuri.org/IChatService/RecieveMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://tempuri.org/IChatService/GetUsers" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceImplementation">
    <wsdl:port name="NetTcpBinding_IDataService" binding="tns:NetTcpBinding_IDataService">
      <soap12:address location="net.tcp://localhost:8081/Services" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/Services</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-1P44FJC\cashd</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IChatService" binding="tns:NetTcpBinding_IChatService">
      <soap12:address location="net.tcp://localhost:8081/Services" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/Services</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-1P44FJC\cashd</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>