Client/unoProyect/Connected Services/DataServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTOCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOCredentials" nillable="true" type="tns:DTOCredentials" />
  <xs:complexType name="ChatUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hostname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChatUser" nillable="true" type="tns:ChatUser" />
  <xs:complexType name="ArrayOfChatUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChatUser" nillable="true" type="tns:ChatUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChatUser" nillable="true" type="tns:ArrayOfChatUser" />
  <xs:complexType name="ChatMessage">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ChatMessage" nillable="true" type="tns:ChatMessage" />
</xs:schema>